<!DOCTYPE html>
<html>
<head>
{% block header %}
	<base href="{{config["siteUrl"]}}">
	<meta charset="UTF-8">
	<title>ubi-projects semantic-UI</title>
{% endblock %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	{{css_('css/style.css') | raw}}
{% endblock %}
</head>
<body>
{% block head %}
<div class=head>
	<div class="ui container">
		<div class="ui pointing inverted menu">
		  <div class="header item">
		    Themes
		  </div>
		  {% for theme in themes %}
		  <a class="item {{ activeTheme==theme ? 'active' }}" href="IndexController/ct/{{theme}}">
		    {{theme}}
		  </a>
		  {% endfor %}
		</div>
	</div>
</div>
{% endblock %}
{% block body %}

{% endblock %}
{% block footer %}

{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/components/state.min.js"></script>
{% endblock %}
</body>
</html>